<h1>Hello {{name}}</h1>

<p>You can verify your account by clicking <a href="https://petesplan.snoringdragon.org/api/user/verifyemail?email={{email}}&token={{token}}">here</a>

Thanks for registering!

Pete's Plan</p>