PORT=8000
DB=mongodb://root:hunter2@mongo:27017/petesplan?authSource=admin
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ADDRESS=test@example.com
JWT_SECRET_KEY=MYSECRETKEYHERE
BCRYPT_WORK_FACTOR=12
BASE_URL=http://localhost:4173
ADMIN_EMAIL=admin@purdue.edu
REDIS_URL=
CACHE_ENABLED=false