PORT=8000
DB=mongodb+srv://shamssarah04_db_user:zLqGQPJqA4sV1WJ1@petesplan.zopcwiv.mongodb.net/petesplan?appName=Petesplan
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ADDRESS=test@example.com
JWT_SECRET_KEY=MYSECRETKEYHERE
BCRYPT_WORK_FACTOR=12
# BASE_URL=http://localhost:8000
REDIS_URL=redis://127.0.0.1:6379
ADMIN_EMAIL=admin@purdue.edu
PORT=8000
# REDIS_URL=
CACHE_TTL =3600
CACHE_ENABLED=false